button {
  display: block;
  margin: 0 auto;
  grid-column-start: 2;
  background: #222222;
  border-color: #00cc00;
  color: #00cc00;
  padding: 5px 15px;
  font-size: 20px;
}

.fa-quote-right {
  grid-column-start: 3;
  color: #00cc00;
  font-size: 100px;
  text-align: center;
  transform: translateY(25%);
}

.fa-quote-left {
  grid-column-start: 1;
  color: #00cc00;
  font-size: 100px;
  text-align: center;
  transform: translateY(25%);
}

.loader-gif {
  display: none;
  width: 10%;
  margin: auto;
}
