body {
  background: #222222;
  color: white;
  font-size: 16px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

header {
  display: grid;
  grid-template-columns: 1.25fr 2.5fr 1.25fr;
  grid-template-rows: 1fr;
  
  a {
    grid-column-start: 2;
    img {
      width: 80%;
    }
  }
}

#quotes-content {
  display: grid;
  grid-template-columns: 1.25fr 2.5fr 1.25fr;
  grid-template-rows: 1fr;

  div {
    grid-column-start: 2;

    h2,
    p,
    i {
      grid-row-start: 1;
    }

    p {
      font-size: 45px;
      line-height: 1.5;
    }

    h2 {
      font-size: 20px;
      padding-top: 20px;

      span {
        color: #00cc00;
        font-style: italic;
      }
    }
  }
}

footer {
  height: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .footer-content {
    grid-column-start: 2;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-end;

    span {
      color: #00cc00;
    }

    a {
      text-decoration: none;
      color: white;
    }
  }
}
