body {
  background: #222222;
  color: white;
  font-size: 16px;
  height: 100vh;
}

header a {
  display: grid;
  grid-template-columns: 1.25fr 2.5fr 1.25fr;
  grid-template-rows: 1fr;

  img {
    width: 80%;
    grid-column-start: 2;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

#quotes-content {
  display: grid;
  grid-template-columns: 1.25fr 2.5fr 1.25fr;
  grid-template-rows: 1fr;

  .fa-quote-right {
    grid-column-start: 3;
    color: #00cc00;
    font-size: 100px;
    text-align: center;
    transform: translateY(25%);
  }

  .fa-quote-left {
    grid-column-start: 1;
    color: #00cc00;
    font-size: 100px;
    text-align: center;
    transform: translateY(25%);
  }

  div {
      grid-column-start: 2;

    h2,
    p,
    i {
      grid-row-start: 1;
    }

    p {
      font-size: 45px;
      line-height: 1.5;
    }

    h2 {
      font-size: 20px;
      padding-top: 20px;

      span {
        color: #00cc00;
        font-style: italic;
      }
    }
  }
}

footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .footer-content {
    grid-column-start: 2;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-end;

    span {
      color: #00cc00;
    }

    a {
      text-decoration: none;
      color: white;
    }
  }
}
